main.Main {
    height: 100%;
}
main.Main > div {
    display: flex;
    flex-direction: row;
    height: 100%;
}
/*  Content  */
div.Content {
    flex-grow: 1;
}
div.Content > div {
    height: 100%;
    justify-content: flex-start;
    padding-top: 36px;
    z-index: 99;
}
div.Section:not(:last-of-type) {
    height: 25%;
}
div.Section:last-of-type {
    height: 50%;
}
div.Section > div {
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0px 16px;
}