main.Main {
    height: 100%;
}
main.Main > div {
    height: 100%;
}
div.Top,
div.Bottom {
    height: 33.333333%;
    z-index: 99;
}
div.Top > div,
div.Bottom > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}