div.List {
    width: 100%;
}
div.List > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (min-width: 780px) {
    div.List {
        width: 33.333333%;
    }
}