div.List {
    transform: translateY(50%);
    width: 66.666666%;
}
div.List > div {
    height: 136px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 780px) {
    div.List {
        width: 33.333333%;
    }
}