aside.Aside {
    width: 48px;
    z-index: 99;
}
aside.Aside > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 16px;
    padding-right: 16px;
}
.Tilt {
    transform: rotate(45deg);
}