div.Card {
    height: 64px;
    width: calc(50% - 4px);
}
div.Card:nth-child(1), div.Card:nth-child(2) {
    margin-bottom: 8px;
}
div.Card:nth-child(1), div.Card:nth-child(3) {
    margin-right: 8px;
}

h2.Data {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 9px;
    padding-bottom: 4px;
    text-align: right;
}
h6.Title {
    font-size: 7px;
    font-style: italic;
    font-weight: 600;
    padding-top: 2px;
    text-align: right;
}