div.Card {
    height: 32px;
    width: calc(50% - 4px);
}
div.Card:nth-child(odd) {
    margin-right: 8px;
}
h2.Data {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 6px;
    padding-bottom: 2px;
    text-align: right;
    user-select: all;
}
p.Title {
    font-size: 6px;
    font-style: italic;
    font-weight: 600;
    padding-top: 1px;
    text-align: right;
    user-select: none;
}
div.Clickable {
    cursor: pointer;
}
.DarkSelection::selection {
    background: rgba(248, 248, 248, 0.25);
}
.LightSelection::selection {
    background: rgba(33, 33, 33, 0.15);
}
@media screen and (min-height: 569px) {
    div.Card {
        height: 64px;
    }
    h2.Data {
        font-size: 9px;
    }
    h6.Title {
        font-size: 7px;
    }
}