header.Header {
    left: 0px;
    height: 36px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
}
header.Header > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding: 4px 16px 0px 16px;
}
/*  Logo  */
header.Header div.Logo {
    display: block;
}
header.Header div.Logo h1 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.025em;
}
/*  Info Button */
header.Header div.Info {
    display: block;
}
header.Header div.Info h6 {

    font-size: 17px;
}
*.Disabled {
    opacity: 0.25;
}