div.HistoryButton {
    border-radius: 16px;
    display: block;
    height: 32px;
    margin-bottom: 8px;
    width: 32px;
}
div.HistoryButton > div {
    align-items: center;
    background-color: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
div.HistoryButton span {
    padding-left: 1px;
    padding-bottom: 1px;
    transform: rotate(45deg);
}