div.Display h2 {
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
}
div.Display p {
    font-size: 0.5em;
    margin-top: 4px;
}
@media screen and (min-width: 780px) {
    div.Display h2 {
        font-size: 0.9em;
    }
    div.Display p {
        font-size: 0.7em;
        margin-top: 8px;
    }
}