/*  Fonts  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i&display=swap');
@font-face {
  font-family: 'Chroma Dingbats';
  src: url('./fonts/Chroma_Dingbats.woff2') format('woff2'),
      url('./fonts/Chroma_Dingbats.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html, body, main, div, input, label,
h1, h2, h3, h4, h5, h6, p, a, span {
  box-sizing: border-box;
  color: inherit;
  margin: 0px;
  padding: 0px;
  position: relative;
}
html, body {
  overflow: hidden;
}
html, body, body > div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
input, label, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat';
  font-weight: 400;
}

/*  Iconography  */
h6 {
  font-family: 'Chroma Dingbats', 'Webdings', 'Montserrat', 'Arial', sans-serif;
}